---
---

@import "{{ site.theme }}";
.markdown-body {
  font-family: 'Times New Roman', Times, serif;
}


header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}
